

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:black;
color:white;
overflow-x:hidden;
}

/* HEADER */

.header{
position:fixed;
top:0;
left:0;
width:100%;
height:75px;
background:rgba(0,0,0,0.9);
display:flex;
justify-content:space-between;
align-items:center;
padding:0 35px;
z-index:1000;
-webkit-backdrop-filter:blur(10px);
backdrop-filter:blur(10px);
}

.logo{
color:gold;
font-size:28px;
font-weight:bold;
letter-spacing:4px;
}

/* NAV */

.nav{
display:flex;
gap:30px;
}

.nav a{
color:white;
text-decoration:none;
font-size:16px;
transition:0.3s;
position:relative;
}

.nav a::after{
content:"";
position:absolute;
left:0;
bottom:-6px;
width:0%;
height:2px;
background:gold;
transition:0.3s;
}

.nav a:hover::after{
width:100%;
}

.nav a:hover{
color:gold;
}

/* MOBILE BUTTON */

.menu-btn{
display:none;
font-size:38px;
color:white;
cursor:pointer;
}

/* HERO */

.gallery-hero{
position:relative;
height:80vh;
overflow:hidden;
}

.gallery-hero img{
width:100%;
height:100%;
object-fit:cover;
filter:brightness(55%);
}

.gallery-title{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:80px;
font-weight:bold;
letter-spacing:10px;
color:white;
text-align:center;
}

/* GRID */

.gallery-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:8px;
padding:8px;
}

.gallery-grid img{
width:100%;
height:260px;
object-fit:cover;
cursor:pointer;
transition:0.4s;
}

.gallery-grid img:hover{
transform:scale(1.03);
opacity:0.8;
}

/* POPUP */

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.95);
display:none;
justify-content:center;
align-items:center;
z-index:2000;
padding:20px;
}

.popup img{
max-width:90%;
max-height:90%;
border-radius:10px;
}

.close{
position:absolute;
top:20px;
right:30px;
font-size:45px;
color:white;
cursor:pointer;
transition:0.3s;
}

.close:hover{
color:gold;
}

/* OVERLAY */

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:none;
z-index:900;
}

.overlay.active{
display:block;
}

/* TABLET */

@media(max-width:900px){

.gallery-grid{
grid-template-columns:1fr 1fr;
}

.gallery-title{
font-size:55px;
}

}

/* MOBILE */

@media(max-width:768px){

.menu-btn{
display:block;
}

.nav{
position:fixed;
top:0;
right:-100%;
width:75%;
height:100vh;
background:#111;
display:flex;
flex-direction:column;
padding-top:100px;
gap:0;
transition:0.4s;
z-index:1001;
}

.nav.active{
right:0;
}

.nav a{
padding:24px 35px;
border-bottom:1px solid #222;
font-size:24px;
}

.gallery-title{
font-size:38px;
letter-spacing:5px;
width:90%;
}

.gallery-grid{
grid-template-columns:1fr;
}

.gallery-grid img{
height:220px;
}

.header{
padding:0 20px;
height:70px;
}

.logo{
font-size:22px;
}

}